<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <form action="http://localhost:3000/join" method = "post">
        ID : <input type="text" name="id" value="test"><br>
        PW : <input type="password" name="pw" value="1234"><br>
        <button>회원가입</button>
    </form>
</body>
</html>




